*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.users {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
}
.user {
    background-color: brown;
    padding: 20px;
    color: #fff;
}